#favorites
  #index
    %h1
      Favoriten
    %p
      Übersicht über alle Favoriten.
    -@favorites.each do |favorite|
      .favContainer
        %span.favHeart
          =link_to "♥", user_favorite_url(:user_id => current_user, :id => favorite), :method => :delete
        =render favorite.video