%li.comment
  =image_tag comment.user.avatar.url(:square50), :class => "photo"
  %span.user
    =comment.user.username
  .text
    =comment.comment
    %span.time
      =comment.created_at.strftime("%d.%m.%G %H:%M")
