%li.comment
  -if current_user.owns_video?(@video)
    =link_to "×", video_comment_url(:video_id => comment.video.id, :id => comment.id), :method => :delete, :class => "button delete"

  =image_tag comment.user.avatar.url(:square50), :class => "photo"
  =link_to comment.user, comment.user
  .text
    =comment.comment
    %span.time
      =comment.created_at.strftime("%d.%m.%G %H:%M")

