#video
  #index
    #upload
      @include gradientButton($brightblue, $darkblue, white)
      :float right

  #show
    .new_report
      :display none

    #edit
      :float right
      @include gradientButton($brightblue, $darkblue, white)

    #editform
      :display none

    #videocontainer
      :background #000
      :margin 20px -20px
      :text-align center
      :position relative

      &:HOVER > #favorites
        :display block

    #video720
      :display none

    #resolutions
      float: left
      ul
        @include linear-gradient($brightbackground, $darkbackground)
        :border 1px solid black
        :border-radius 4px 12px 4px 4px
        :box-shadow 1px 1px 4px $shadow
        :margin 6px
        :padding 4px
        :font-size 12px
        :width 105px
        li
          :display inline-block

    #report
      :float right
      #addreport
        @include gradientButton($brightblue, $darkblue, white)
      #new_report
        :display none

    #tags
      ul
        :margin 10px
        :cursor text

    #favorites
      :display none
      :font-size 40px
      :position absolute
      :text-shadow 2px 4px 3px $shadow
      :right 15px
      :top 10px

      a:HOVER
        :text-decoration none

    #participants, #comments
      :position relative
      :width 465px
      :word-wrap break-word
      
      ul
        li
          :clear left
          :padding-top 10px

          .delete
            @include gradientButton($brightred, $darkred, #fff)
            :float right
            :display none
            :position absolute
            :right 40px

            &:HOVER a
              :text-decoration none

          &:HOVER > .delete
            :display block

          .report
            @include gradientButton($brightred, $darkred, #fff)
            :float right
            :display none
            :position absolute
            :right 10px

            &:HOVER a
            :text-decoration none

          &:HOVER > .report
            :display block

          .photo
            :float left
            :margin-right 10px

          .user
            :display inline-block
            :font-style italic
            :color blue

          .text, .role
            :margin-left 64px

          .time
            :margin-top 5px
            :color #ccc
            :font-size 0.9em
            :display block

        li + li
          :border-top 1px #ddd solid
          :margin-top 20px

    #comments
      :float left

      #addcomment
        @include gradientButton($brightblue, $darkblue, white)
        
      #new_comment
        :display none

      .report_comment
        :display none

    #participants
      :float right

      a#addparticipant
        @include gradientButton($brightblue, $darkblue, white)

      #new_participant
        :display none



.modal
  @include box-shadow

  #delete
    @include gradientButton(#f00, #a00, #fff)
    :float right

  label, textarea
    :display block

  textarea
    :width 450px
    :height 150px

  form.video
    ol.thumbs
      :margin 10px 0
      li
        :display inline

.ui-dialog-titlebar
  @include linear-gradient($brightblue, $darkblue)
  :color #fff
