#video
  #index
    li.videothumb
      :float left
      :text-align center
      img
        :border 3px solid $darkbackground
        :border-radius 20px 20px 20px 20px
        :box-shadow 2px 4px 6px $shadow
        :display block
        :height 150px
        :margin 20px
        :width 267px

    #upload
      @include linear-gradient($brightblue, $darkblue)
      :border-radius 7px 7px 7px 7px
      :box-shadow 1px 1px 3px $shadow
      :display inline-block
      :font-weight bold
      :margin-left 15px
      :padding 8px
      :position relative
      :text-align center
      :text-shadow 0px 1px 2px $shadow
      a
        :color white

  #show
    #videobox
      :text-align center

    #videotable
      :width 400px
      :padding 5px
      :margin 10px auto
      @include linear-gradient($brightbackground, #BBB)
      :border 1px solid black
      :border-radius 4px
      :box-shadow 0 0 5px $shadow
      :font-size 12px

      > li
        :display inline-block

      > li + li
        :margin-left 30px

      li.favorite
        :font-size 48px

    #tags
      h2
        :margin-left 10px
        :text-decoration underline
        :margin-top 30px
      ul
        :margin 10px


    ul#comments
      :margin 0
      :padding 0
      li.comment
        :padding 5px
        @include linear-gradient($brightbackground, $darkbackground)
        :border-color #D8D8D8
        :border-style solid
        :border-width thin
        .user
          :display inline-block
          :font-style italic
          :margin 10px
          :color blue
        .text
          :margin-left 20px
          :width 500px
        .time
          :float right
          :color #888
          :font-size 0.9em
      li.comment + li.comment
        margin-top: 1em

    #form
      #new_comment
        .inputs
          ol
            #comment_comment_input
              #comment_comment
                :width 350px
                :height 120px