@mixin box-shadow($color: #333333, $size: 25px)
  :-moz-box-shadow 0 0 $size $color
  :-webkit-box-shadow 0 0 $size $color
  :box-shadow 0 0 $size $color
  :-ms-filter "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')"
  :filter progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')

@mixin text-shadow($color: #333333, $size: 3px)
  :text-shadow 0px 0px $size $color

@mixin linear-gradient($colorStart: #000, $colorEnd: #FFF)
  :background -moz-linear-gradient(top, $colorStart, $colorEnd) /* Firefox */
  :background -webkit-gradient(linear, left top, left bottom, from($colorStart), to($colorEnd)) /* Safari, Chrome */
  :background -webkit-linear-gradient(top, $colorStart, $colorEnd) /* Safari, Chrome - neue Syntax! */
  :background -o-linear-gradient(top, $colorStart, $colorEnd) /* Opera */
  :background -ms-linear-gradient(top, $colorStart, $colorEnd) /* IE */
  :background linear-gradient(top, $colorStart, $colorEnd) /* W3C Standard */

@mixin gradientButton($start: #000, $end: #FFF, $font-color: #BBB)
  @include linear-gradient($start, $end)
  :border-radius 7px 7px 7px 7px
  :box-shadow 1px 1px 3px $shadow
  :display inline-block
  :font-weight bold
  :margin-left 15px
  :padding 8px
  :position relative
  :text-align center
  :text-shadow 0px 1px 2px $shadow
  :color $font-color
  a
    :color $font-color

@mixin center
  :width 980px
  :margin 0 auto

$brightblue: #67a3e7
$darkblue: #22316e
$shadow: #666
$brightbackground: #fff
$darkbackground: #eee
$linkcolor: DodgerBlue


@import "application"
@import "layout"
@import "videos"
@import "users"
@import "form"
@import "home"
@import "favorites"
@import "tags"
