$brightblue: #67a3e7
$darkblue: #22316e
$brightred: #f00
$darkred: #a00

$brightbackground: #fff
$darkbackground: #eee
$shadow: #666
$linkcolor: DodgerBlue

@import "mixin"
@import "application"
@import "layout"
@import "videos"
@import "users"
@import "form"
@import "home"
@import "favorites"
@import "tags"
@import "login"