.clearfix {
  clear: both; }

html {
  background-color: #eeeeee; }
  html body {
    font-family: Verdana;
    font-size: 16px; }
    html body a {
      color: DodgerBlue;
      text-decoration: none; }
    html body a:HOVER {
      text-decoration: underline; }
    html body h1, html body h2, html body h3 {
      color: #22316e;
      margin: 10px 0;
      text-shadow: 0px 0px 3px #dddddd; }
    html body h1 {
      font-size: 28px; }
    html body h2 {
      font-size: 20px; }
    html body h3 {
      font-size: 16px; }
    html body .clearfix {
      clear: both; }
    html body #navigation {
      position: absolute;
      top: 110px;
      width: 100%;
      background-color: #22316e;
      -moz-box-shadow: 0 0 25px #aaaaaa;
      -webkit-box-shadow: 0 0 25px #aaaaaa;
      box-shadow: 0 0 25px #aaaaaa;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
      html body #navigation ul {
        width: 980px;
        margin: 0 auto;
        padding: 5px 0;
        background-color: #67a3e7; }
        html body #navigation ul li {
          display: inline;
          margin-left: 1em; }
          html body #navigation ul li a {
            font-size: 16px;
            color: white;
            text-shadow: 0px 0px 3px #aaaaaa; }
    html body #wrapper {
      -moz-box-shadow: 0 0 25px #aaaaaa;
      -webkit-box-shadow: 0 0 25px #aaaaaa;
      box-shadow: 0 0 25px #aaaaaa;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
      width: 980px;
      margin: 0 auto;
      background-color: white; }
      html body #wrapper #header {
        height: 100px;
        padding: 10px; }
      html body #wrapper #content {
        padding: 20px; }
      html body #wrapper #footer {
        text-align: center;
        padding: 5px;
        font-size: 0.8em; }

form .field {
  margin: 5px 0; }
  form .field label {
    display: inline-block;
    width: 200px; }
  form .field .field_with_errors {
    display: inline-block; }
form .notice {
  font-size: 12px;
  margin-left: 206px; }

#home #index .video_box {
  float: left;
  margin: 10px 10px 10px 0;
  padding: 10px 10px 10px 0;
  width: 438px; }
  #home #index .video_box h3 {
    margin: 0 10px 10px 0;
    font-size: 20px; }
  #home #index .video_box ul li {
    margin-top: 10px; }
    #home #index .video_box ul li .thumb {
      float: left; }
      #home #index .video_box ul li .thumb img {
        -moz-box-shadow: 0 0 3px black;
        -webkit-box-shadow: 0 0 3px black;
        box-shadow: 0 0 3px black;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
    #home #index .video_box ul li .details {
      float: left;
      margin-left: 10px; }
      #home #index .video_box ul li .details .link a {
        display: block; }
      #home #index .video_box ul li .details .user {
        font-size: 12px; }
      #home #index .video_box ul li .details span.order {
        font-size: 10px; }

#video #index li.videothumb img {
  border: 3px solid #eeeeee;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 4px 6px #666666;
  display: block;
  height: 150px;
  margin: 20px;
  width: 200px; }
#video #index #upload {
  background: -moz-linear-gradient(top, white, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: -webkit-linear-gradient(top, white, #eeeeee);
  background: -o-linear-gradient(top, white, #eeeeee);
  background: -ms-linear-gradient(top, white, #eeeeee);
  background: linear-gradient(top, white, #eeeeee);
  border-radius: 7px 7px 7px 7px;
  box-shadow: 1px 1px 3px #666666;
  display: inline-block;
  margin-left: 15px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 2px #666666; }
#video #show #resolutions ul li {
  background: -moz-linear-gradient(top, white, #bbbbbb);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#bbbbbb));
  background: -webkit-linear-gradient(top, white, #bbbbbb);
  background: -o-linear-gradient(top, white, #bbbbbb);
  background: -ms-linear-gradient(top, white, #bbbbbb);
  background: linear-gradient(top, white, #bbbbbb);
  border: 1px solid black;
  border-radius: 4px 12px 4px 4px;
  box-shadow: 1px 1px 4px #666666;
  float: left;
  margin: 10px;
  padding: 4px; }
#video #show #tags ul {
  margin: 10px; }
#video #show #comments {
  margin: 25px; }
  #video #show #comments div.comment {
    background: -moz-linear-gradient(top, white, #eeeeee);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    background: -webkit-linear-gradient(top, white, #eeeeee);
    background: -o-linear-gradient(top, white, #eeeeee);
    background: -ms-linear-gradient(top, white, #eeeeee);
    background: linear-gradient(top, white, #eeeeee);
    border-color: #d8d8d8;
    border-style: solid;
    border-width: thin; }
    #video #show #comments div.comment .user {
      display: inline-block;
      font-style: italic;
      margin: 10px;
      color: blue; }
    #video #show #comments div.comment .text {
      margin-left: 20px;
      width: 500px; }
#video #show #form #new_comment {
  background: #d8d8d8;
  margin-top: 30px; }
