html {
  background-color: #eeeeee; }
  html body {
    font-family: Verdana; }
    html body a {
      color: DodgerBlue;
      text-decoration: none; }
    html body a:HOVER {
      text-decoration: underline; }
    html body h1, html body h2, html body h3 {
      color: #22316e;
      margin: 10px 0;
      text-shadow: 0px 0px 3px #dddddd; }
    html body h1 {
      font-size: 28px; }
    html body h2 {
      font-size: 20px; }
    html body h3 {
      font-size: 16px; }
    html body #navigation {
      position: absolute;
      top: 110px;
      width: 100%;
      background-color: #22316e;
      -moz-box-shadow: 0 0 25px #aaaaaa;
      -webkit-box-shadow: 0 0 25px #aaaaaa;
      box-shadow: 0 0 25px #aaaaaa;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
      html body #navigation ul {
        width: 980px;
        margin: 0 auto;
        padding: 5px 0;
        background-color: #67a3e7; }
        html body #navigation ul li {
          display: inline;
          margin-left: 1em; }
          html body #navigation ul li a {
            font-size: 16px;
            color: white;
            text-shadow: 0px 0px 3px #aaaaaa; }
    html body #wrapper {
      -moz-box-shadow: 0 0 25px #aaaaaa;
      -webkit-box-shadow: 0 0 25px #aaaaaa;
      box-shadow: 0 0 25px #aaaaaa;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
      width: 980px;
      margin: 0 auto;
      background-color: white; }
      html body #wrapper #header {
        height: 100px;
        padding: 10px; }
      html body #wrapper #content {
        padding: 20px; }
      html body #wrapper #footer {
        clear: both;
        text-align: center;
        padding: 5px;
        font-size: 0.8em; }

#video li.videothumb {
  width: 300px;
  height: 300px;
  display: block;
  text-align: center; }

html body #usernavigation {
  border: 1px #22316e solid;
  width: 450px;
  text-align: center;
  margin: 25px auto 0px auto;
  padding: 5px; }
html body #avatar {
  border: 1px #22316e solid;
  width: 160px;
  height: 240px;
  float: right;
  margin: 10px; }

html body form label {
  display: block; }
html body form input + label {
  margin-top: 10px; }
html body form input {
  display: block;
  margin: 5px 0; }
html body form input[type="submit"] {
  margin-top: 10px;
  padding: 5px; }
html body form em {
  font-size: 0.8em; }

div.note {
  background: #ffffdd;
  border: 3px #dddd99 solid;
  margin: 0 auto;
  padding: 5px;
  width: 600px; }

em {
  font-style: italic; }

p + * {
  margin-top: 10px; }
