%li.participant
  %img.photo(src="http://www.youtube.com/profile_photo?id=2-gb6Wi0Dtt1RT016LsLiQ")
  .user
    -if participant.user.present?
      =participant.user.username 
    -else
      =participant.name
  .role
    =participant.role
  .delete
    -if current_user.owns_video?(@video)
      =link_to "Delete", video_participant_url(:video_id => participant.video.id, :id => participant.id), :method => :delete
    
