#users
  #index
    %h1
      Benutzerübersicht
    %p
      Übersicht über alle angemeldeten Besucher.
    %p
      Zur Auswahl bitte den Anfangsbuchstaben des Namens anklicken.

    .letters
      -("A".."Z").each do |letter|
        %span.letter
          =link_to_unless letter == params[:start_letter], letter, users_url(:start_letter => letter)

    -if @users.present?
      %ul.users
        =render @users
    -else
      .nousers
        Keine Benutzer mit dem Anfangsbuchstaben
        =params[:start_letter]
        vorhanden.

    .clearfix

    .letters
      -("A".."Z").each do |letter|
        %span.letter
          =link_to_unless letter == params[:start_letter], letter, users_url(:start_letter => letter)
