#users
  #index
    %h1
      Benutzerübersicht
    %p
      Hier sind alle angemeldeten Benutzer nach Anfangsbuchstaben geordnet. Bitte wähle einen Buchstaben aus:

    .letters
      -("A".."Z").each do |letter|
        %span.letter
          =link_to_unless letter == params[:start_letter], letter, users_url(:start_letter => letter)

    -if @users.present?
      %ul.users
        =render @users

      .clearfix

      .letters
        -("A".."Z").each do |letter|
          %span.letter
            =link_to_unless letter == params[:start_letter], letter, users_url(:start_letter => letter)

    -else
      .note
        Keine Benutzer mit dem Anfangsbuchstaben
        =params[:start_letter]
        vorhanden.



    