%h1
  Benutzerübersicht

-if @users.present?
  =render @users
-else
  %div.note
    Keine Benutzer mit diesem Anfangsbuchstaben vorhanden.


#usernavigation
  -("A".."Z").each do |letter|
    =link_to letter, users_url(:start_letter => letter)
