-if video.is_favorite_of?(current_user)
  =link_to "Aus Favoriten entfernen", user_favorite_url(:user_id => current_user, :id => video.is_favorite_of?(current_user).id), :method => :delete, :class => "favorites"
  :javascript
    $('a.favorites[data-method=delete]').click(function(event) {
      event.preventDefault();
      $.post(this.href, { _method: 'delete' }, function(data) {
        $('a.favorites[data-method=delete]').replaceWith(data);
      }, "script");
      return false;
    });
-else
  =link_to "Zu Favoriten hinzufügen", user_favorites_url(:user_id => current_user.id, :video => video.id), :method => :post, :class => "favorites"
  :javascript
    $('a.favorites[data-method=post]').click(function(event) {
      event.preventDefault();
      $.post(this.href, function(data) {
        $('a.favorites[data-method=post]').replaceWith(data);
      }, "script");
      return false;
    });