-#
  %table
    %td
      =link_to_unless (@resolution[:name] == "480"), "★", video_url(@video, :res => "480")
    %td
      =link_to_unless (@resolution[:name] == "480"), "★", video_url(@video, :res => "480")
    %td
      =link_to_unless (@resolution[:name] == "480"), "☆", video_url(@video, :res => "480")
    %td
      =link_to_unless (@resolution[:name] == "480"), "☆", video_url(@video, :res => "480")
    %td
      =link_to_unless (@resolution[:name] == "480"), "☆", video_url(@video, :res => "480")

  %a#rating_1.star{:rel => "1"}
    ☆
  %a#rating_2.star{:rel => "2"}
    ☆
  %a#rating_3.star{:rel => "3"}
    ☆
  %a#rating_4.star{:rel => "4"}
    ☆
  %a#rating_5.star{:rel => "5"}
    ☆

  :javascript
    $('.star').each(function(star) {
      $(star).mouseover(function(event) {
        illuminateStarsTo($(star).attr('rel'));
      });
    });

    $('#ratings').mouseout(function(event) {
      illuminateStarsTo(#{@rating});
    });

    function illuminateStarsTo(rating) {
      Zählschleife 1-5
      wenn <= rel dann voll
      sonst leer
    }

    illuminateStarsTo(#{@rating});
