%li.videothumb
  =link_to image_tag(getThumbUrl(video, 266), {:class => "thumb"}), video
    .info
      = link_to video, video, {:class => "title"}
        .videouser
          %p
            hochgeladen von
            = link_to video.user, video.user
