%li.videothumb{:style => "background-image: url('" + getThumbUrl(video, 266) + "');"}
  .info
    = link_to video, video, {:class => "title"}
    .videouser
      %p
        hochgeladen von
      = link_to video.user, video.user