%li.videothumb{:style => "background-image: url('" + video.video.url(createThumbSymbol("thumb266", video.thumb_index)) + "');"}
  .info
    = link_to video, video, {:class => "title"}
    #videoUser
      Hochgeladen von
      %p
        = link_to video.user, video.user