#video
  #index
    %span#upload(style="float: right;")
      =link_to "Video hochladen", new_video_url
    %h1
      Videos
    %p
      Übersicht über alle vorhandenen Videos.

    %ul
      =render @videos

      .clearfix

    =will_paginate @videos