#video
  #index
    =link_to "Video hochladen", new_video_url, {:id => 'upload', :class => 'button'}

    %h1
      Video-Übersicht

    %p
      Hier findest du alle hochgeladenen Videos.

    %ul
      =render @videos

      .clearfix

    =will_paginate @videos