#video
  #index
    =link_to "Video hochladen", new_video_url, {:id => 'upload'}

    %h1
      Video-Übersicht

    %p
      Übersicht über alle vorhandenen Videos.

    %ul
      =render @videos

      .clearfix

    =will_paginate @videos