#video
  #show
    %h1
      =@video.title

    #videoContainer
      %video{:width => @resolution[:x], :height => @resolution[:y], :controls => "controls"}
        %source{:src => @video.video.url(("mp4_"+@resolution[:name]).to_sym), :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
        %source{:src => @video.video.url(("webm_"+@resolution[:name]).to_sym), :type => 'video/webm; codecs="vp8, vorbis"'}
        %source{:src => @video.video.url(("ogg_"+@resolution[:name]).to_sym), :type => 'video/ogg; codecs="theora, vorbis"'}
      #favorites
        =render :partial => "favorites", :locals => {:video => @video}
      #ratings
        =render :partial => "ratings", :locals => {:video => @video}

    #resolutions
      %ul
        %li
          =link_to_unless (@resolution[:name] == "360"), "360p", video_url(@video, :res => "360")
        %li
          =link_to_unless (@resolution[:name] == "480"), "480p", video_url(@video, :res => "480")
        %li
          =link_to_unless (@resolution[:name] == "720"), "720p", video_url(@video, :res => "720")
      .clearfix

    #tags
      =render :partial => "tags"

    #participants
      %h2
        Mitarbeiter
      %ul#participantslist
        =render :partial => "participants/participant", :collection => @video.participants
      %a#toggleParticipantsForm(style="clear: left;")
        Teilnehmer hinzuf端gen
      =render :partial => "participants/form", :locals => {:video => @video}

    #comments
      %h2
        Kommentare
      %ul#commentslist
        =render :partial => "comments/comment", :collection => @video.comments
      %a#toggleCommentsForm(style="clear: left;")
        Kommentar hinzuf端gen
      =render :partial => "comments/form"

:javascript
  $(document).ready(function() {
    $("#toggleParticipantsForm").click(function(event) {
      $("#new_participant").dialog({ title: 'Filmmitarbeier hinzuf端gen', dialogClass: 'modal', width: 500, height: 350 });
    });
  });

:javascript
  $(document).ready(function() {
    $("#toggleCommentsForm").click(function(event) {
      $("#new_comment").dialog({ title: 'Kommentar hinzuf端gen', dialogClass: 'modal', width: 500, height: 320 });
    });
  });