#video
  #show
    %video{:width => @resolution[:x], :height => @resolution[:y], :controls => "controls"}
      %source{:src => @video.video.url(("mp4_"+@resolution[:name]).to_sym), :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
      %source{:src => @video.video.url(("webm_"+@resolution[:name]).to_sym), :type => 'video/webm; codecs="vp8, vorbis"'}
      %source{:src => @video.video.url(("ogg_"+@resolution[:name]).to_sym), :type => 'video/ogg; codecs="theora, vorbis"'}

    #resolutions
      %ul
        %li
          =link_to_unless (@resolution[:name] == "360"), "360p", video_url(@video, :res => "360")
        %li
          =link_to_unless (@resolution[:name] == "480"), "480p", video_url(@video, :res => "480")
        %li
          =link_to_unless (@resolution[:name] == "720"), "720p", video_url(@video, :res => "720")
      .clearfix
    #tags
      =render :partial => "tags"

    #favorites
      =render :partial => "favorites", :locals => {:video => @video}

    #comments
      =render :partial => "comments/comment", :collection => @video.comments
      =render :partial => "comments/form", :locals => {:video => @video}
