.videobox
  %h2
    =title

  %ol.videos
    -if videos.present?
      -videos.each do |video|
        %li.video
          =link_to image_tag(getThumbUrl(video, 128), {:class => "thumb"}), video
          .details
            =link_to video, video, {:class => "title"}
            .user
              von
              =link_to video.user, video.user
            %span.order
              =order_name
              =video.instance_eval order_function
          .clearfix