.video_box
  %h2
    =title

  %ol.videos
    -if videos.present?
      -videos.each do |video|
        %li.video
          .thumb
            =link_to image_tag(video.video.url(:thumb128), {:width => 128, :height => 72}), video
          .details
            .link
              =link_to video, video
            .user
              von
              =link_to video.user, video.user
            %span.order
              =order_name
              =video.instance_eval order_function
          .clearfix