%h1
  Wedeltube Nutzungsbedingungen

%p
  Zuletzt geändert am: 14. Juli 2012

%span
%h2
  Willkommen bei Wedeltube!
%p
  Vielen Dank, dass Sie unser Produkt nutzen. Der Dienst wird Ihnen von der Fachhochschule Wedel, Feldstraße 143, 22880 Wedel, Deutschland, zur Verfügung gestellt.
%p
  Die Nutzung des Dienstes setzt voraus, dass Sie diesen Nutzungsbedingungen zustimmen. Bitte lesen Sie diese sorgfältig durch.

%span
%h2
  Nutzung unseres Dienstes
%p
  Sie sind zur Einhaltung der Richtlinien verpflichtet, die für unseren Dienst gelten. Verwenden Sie unseren Dienst nicht in missbräuchlicher Art und Weise. Sie sind beispielsweise nicht berechtigt, in den Dienst einzugreifen oder in anderer Weise als über die von Wedeltube bereitgestellte Benutzeroberfläche und gemäß unseren Vorgaben auf den Dienst zuzugreifen. Sie dürfen unseren Dienst nur in dem gesetzlich zulässigen Rahmen nutzen. Wir können die Bereitstellung unseres Dienstes an Sie aussetzen oder einstellen, wenn Sie gegen unsere Nutzungsbedingungen oder Richtlinien verstoßen oder wenn wir ein mutmaßliches Fehlverhalten untersuchen.
%p
  Durch die Nutzung unseres Dienstes erwerben Sie keinerlei Urheberrechte oder gewerbliche Schutzrechte an den Inhalten, auf die Sie zugreifen. Sie dürfen Inhalte aus unserem Dienst nicht nutzen, es sei denn, Sie verfügen über die Einwilligung des Rechteinhabers oder sind anderweitig zu dieser Nutzung berechtigt. Diese Nutzungsbedingungen gewähren Ihnen kein Recht zur Nutzung von Marken, Markenelementen oder Logos, die in unserem Dienst verwendet werden. Rechtliche Hinweise, die in oder im Zusammenhang mit unserem Dienst angezeigt werden, dürfen nicht entfernt, unkenntlich gemacht oder verändert werden.
%p
  In unserem Dienst werden auch Inhalte angezeigt, die nicht von Wedeltube stammen. Diese Inhalte unterliegen der ausschließlichen Verantwortung desjenigen, der diese verfügbar macht. Wedeltube macht sich diese nicht zu Eigen. Wir behalten uns das Recht vor, Inhalte auf ihre Rechtswidrigkeit oder auf die Verletzung von Richtlinien hin zu prüfen. Wir können Inhalte entfernen oder deren Darstellung ablehnen, wenn wir berechtigterweise davon ausgehen können, dass sie gegen unsere Richtlinien oder geltendes Recht verstoßen.

%span
%h2
  Ihr Wedeltube-Konto
%p
  Für die Nutzung unseres Dienstes benötigen Sie ein Wedeltube-Konto. Sie können Ihr Wedeltube-Konto selbst erstellen. Sollten Sie eine unerlaubte Nutzung Ihres Passworts oder Ihres Kontos bemerken, folgen Sie dieser Anleitung.

%span
%h2
  Datenschutz und Schutz von Urheberrechten
%p
  In den Datenschutzbestimmungen von Wedeltube wird erläutert, wie wir mit Ihren personenbezogenen Daten verfahren und Ihre Daten schützen, wenn Sie unseren Dienst nutzen. Wir reagieren auf Meldungen zu mutmaßlichen Urheberrechtsverletzungen und kündigen die Konten von Personen, die wiederholt Verstöße begehen.

%span
%h2
  Ihre Inhalte in unserem Dienst
%p
  Bei unserem Dienst können Sie Inhalte einstellen. Sie behalten Ihre Rechte als Urheber und alle bestehenden gewerblichen Schutzrechte an den Inhalten, die Sie in unsere Diensten einstellen. Kurz gesagt: Was Ihnen gehört, bleibt auch Ihres.
%p
  Indem Sie urheberrechtlich oder sonst rechtlich geschützte Inhalte in unserem Dienst einstellen, räumen Sie Wedeltube und den zur Wedeltube Gruppe gehörenden Unternehmen sowie den Vertragspartnern von Wedeltube unentgeltlich die notwendigen, nicht ausschließlichen, weltweiten und zeitlich unbegrenzten Rechte ein, diese Inhalte ausschließlich zum Zweck der Erbringung des Dienstes und lediglich in dem dafür nötigen Umfang zu nutzen. Damit Wedeltube den Dienst anbieten kann, müssen die Inhalte zum Beispiel gespeichert und auf Servern gehostet werden. Das Nutzungsrecht umfasst daher insbesondere das Recht, die Inhalte technisch zu vervielfältigen. Weiterhin räumen Sie Wedeltube das Recht der öffentlichen Zugänglichmachung Ihrer Inhalte ausschließlich für den Fall ein, dass Sie wegen der Natur des Dienstes eine öffentliche Zugänglichmachung beabsichtigen oder Sie ausdrücklich eine öffentliche Zugänglichmachung bestimmt haben. Das Recht der öffentlichen Zugänglichmachung endet mit dem Zeitpunkt, in dem Sie einen eingestellten Inhalt aus dem Dienst entfernen oder die Bestimmung der öffentlichen Zugänglichmachung aufheben.
%p
  Wenn Sie uns Feedback oder Verbesserungsvorschläge zu unserem Dienst schicken, sind wir berechtigt, dieses Feedback und diese Verbesserungsvorschläge ohne Verpflichtung Ihnen gegenüber zu nutzen.

%span
%h2
  Änderung und Beendigung unserer Dienste
%p
  Wir verändern und optimieren unseren Dienst in unregelmäßigen Abständen. So können wir unter Berücksichtigung der jeweiligen Interessen beispielsweise Funktionen oder Features hinzufügen oder entfernen oder zusätzliche oder neue Beschränkungen für unseren Dienst einführen. Sie können die Nutzung unseres Dienstes jederzeit beenden, auch wenn wir dies bedauern würden. Ihre Daten gehören Ihnen und wir halten es für wichtig, dass Sie auf diese Daten zugreifen können.

%span
%h2
  Haftung für unsere Dienste
%p
  Sowohl Ihre Haftung als auch die Haftung von Wedeltube für Vorsatz, grobe Fahrlässigkeit und Produkthaftung richtet sich nach den gesetzlichen Vorschriften. In Fällen von einfacher Fahrlässigkeit haften sowohl Sie als auch Wedeltube nur für die Verletzung von Kardinalpflichten. In diesen Fällen ist die Haftung begrenzt auf die typischen und zum Zeitpunkt der Nutzung der Dienste vorhersehbaren Schäden.

%span
%h2
  Über diese Nutzungsbedingungen
%p
  Wedeltube kann diese Nutzungsbedingungen oder etwaige zusätzliche Bedingungen für einen jeweiligen Dienst in zumutbarer Weise anpassen, um beispielsweise Änderungen der rechtlichen Rahmenbedingungen oder Änderungen unserer Dienste zu berücksichtigen. Sie sollten diese Nutzungsbedingungen daher regelmäßig überprüfen. Änderungen gelten nicht rückwirkend und werden frühestens 14 Tage nach ihrer Veröffentlichung wirksam. Wenn Sie den geänderten Nutzungsbedingungen des Dienstes nicht zustimmen, müssen Sie die Nutzung des Dienstes einstellen.
%p
  Im Fall eines Widerspruchs zwischen diesen Nutzungsbedingungen und zusätzlichen Bedingungen haben die zusätzlichen Bedingungen im Einzelfall Vorrang.
%p
  Informationen zur Kontaktaufnahme mit Wedeltube finden Sie auf unserer Kontaktseite.
