#tags
  %h1
    Tags

  %p
    Die Videos auf Wedeltube werden mit verschiedenen Stichworten geordnet. Hier gibt es eine Übersicht der bislang verwendeten Stichwörter:

  %table
    - @tags.each_slice(3).each do |t|
      %tr
        %td= link_to t[0], t[0]
        -if t[1].present?
          %td= link_to t[1], t[1]
        -if t[2].present?
          %td= link_to t[2], t[2]

    =will_paginate @tags