#tags
  #show
    %h1
      =@tag

    %p
      Hier sind alle Videos, die mit dem Tag
      =@tag
      gekennzeichnet sind:

    =will_paginate @videos

    .videos
      =render @videos

    =will_paginate @videos