%p
  Hej #{@resource.email}!
%p
  Bitte klicke auf den folgenden Link, um dein Wedeltube-Benutzerkonto zu aktivieren:
%p= link_to 'Benutzerkonto freischalten', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
