%p
  Hej #{@resource.email}!
%p Du möchtest gerne dein Wedeltube-Benutzerkennwort zurücksetzen, wahrscheinlich weil du es vergessen hast. Klicke bitte auf den folgenden Link, um ein neues Kennwort anzufordern:
%p= link_to 'neues Kennwort anfordern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Falls du diese E-Mail nicht angefordert hast, hat sich wohl jemand einen Spaß erlaubt — du kannst diese Mail dann einfach ignorieren, es kann niemand fremdes kein Kennwort ändern oder einsehen.
