%p
  Hej #{@resource.email}!
%p Dein Wedeltube-Benutzerkonto wurde wegen einer Reihe fehlgeschlagener Login-Versuche gesperrt. Bitte klicke auf den folgenden Link, um dein Konto wieder freizuschalten:
%p= link_to 'Benutzerkonto freischalten', unlock_url(@resource, :unlock_token => @resource.unlock_token)
