#reports
  #index
    %table
      %thead
        %th
          ID
        %th
          Kommentar
        %th
          Typ
        %th
          Datum
        %th
          Link
        %th
          Löschen
      %tbody
        =render @reports